USE [master]
GO
/****** Object:  Database [hrms_db]    Script Date: 10-03-2026 12:32:06 ******/
CREATE DATABASE [hrms_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hrms_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\hrms_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hrms_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\hrms_db_log.ldf' , SIZE = 794624KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hrms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hrms_db]
GO
/****** Object:  User [hrms_user]    Script Date: 10-03-2026 12:32:06 ******/
CREATE USER [hrms_user] FOR LOGIN [hrms_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hrms_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hrms_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [hrms_user]
GO
/****** Object:  UserDefinedTableType [dbo].[tbl]    Script Date: 10-03-2026 12:32:06 ******/
CREATE TYPE [dbo].[tbl] AS TABLE(
	[employee_name] [varchar](100) NULL,
	[supervisior_name] [varchar](100) NULL,
	[employee_pp] [varchar](300) NULL,
	[supervisior_pp] [varchar](300) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TeamMemberTableType]    Script Date: 10-03-2026 12:32:06 ******/
CREATE TYPE [dbo].[TeamMemberTableType] AS TABLE(
	[emp_id] [int] NULL
)
GO
/****** Object:  Table [dbo].[approval_statuses]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_statuses](
	[approval_status_id] [int] IDENTITY(1,1) NOT NULL,
	[approval_status_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_approval_statuses] PRIMARY KEY CLUSTERED 
(
	[approval_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_master]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_master](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[slot_id] [int] NOT NULL,
	[leader_emp_id] [int] NOT NULL,
	[cycle_id] [int] NOT NULL,
	[team_size] [int] NOT NULL,
	[priority_score] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_booking_master] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_members]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_members](
	[booking_id] [int] NOT NULL,
	[emp_id] [int] NOT NULL,
	[joined_at] [datetime] NULL,
 CONSTRAINT [PK_booking_members] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC,
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_queue]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_queue](
	[queue_id] [int] IDENTITY(1,1) NOT NULL,
	[slot_id] [int] NOT NULL,
	[leader_emp_id] [int] NOT NULL,
	[cycle_id] [int] NOT NULL,
	[team_size] [int] NOT NULL,
	[priority_score] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[queue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_queue_members]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_queue_members](
	[queue_id] [int] NOT NULL,
	[emp_id] [int] NOT NULL,
	[joined_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[queue_id] ASC,
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[celebrations_log]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[celebrations_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[celebration_type] [varchar](50) NULL,
	[celebration_year] [int] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_celebrations_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_description] [nvarchar](500) NOT NULL,
	[post_id] [int] NOT NULL,
	[commentor_id] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[date_time] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments_likes]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments_likes](
	[comment_id] [int] NOT NULL,
	[liked_by_id] [int] NOT NULL,
	[liked_at] [datetime] NOT NULL,
 CONSTRAINT [PK_comments_likes] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC,
	[liked_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_comments_likes] UNIQUE NONCLUSTERED 
(
	[comment_id] ASC,
	[liked_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cycle_participation]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cycle_participation](
	[cycle_id] [int] NOT NULL,
	[game_id] [int] NOT NULL,
	[emp_id] [int] NOT NULL,
	[play_count] [int] NOT NULL,
 CONSTRAINT [PK_cycle_participation] PRIMARY KEY CLUSTERED 
(
	[cycle_id] ASC,
	[game_id] ASC,
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_types]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_types](
	[document_type_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type__name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_document_types] PRIMARY KEY CLUSTERED 
(
	[document_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_penalties]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_penalties](
	[emp_id] [int] NOT NULL,
	[late_cancel_count] [int] NOT NULL,
	[restricted_until] [datetime] NULL,
 CONSTRAINT [PK_employee_penalties] PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](255) NULL,
	[joining_date] [datetime2](7) NULL,
	[date_of_birth] [datetime2](7) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[contact_number] [varchar](255) NULL,
	[emergency_contact] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[profile_picture_url] [varchar](500) NULL,
	[supervisior_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[position_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expense_rules]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expense_rules](
	[expense_rule_id] [int] IDENTITY(1,1) NOT NULL,
	[expense_type_id] [int] NULL,
	[max_amount] [decimal](18, 0) NULL,
 CONSTRAINT [PK_expense_rules] PRIMARY KEY CLUSTERED 
(
	[expense_rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses_detail]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses_detail](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[expense_type_id] [int] NULL,
	[travel_id] [int] NOT NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[comment] [varchar](400) NULL,
	[proof_url] [varchar](300) NOT NULL,
	[upload_date] [date] NOT NULL,
	[expense_date] [date] NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[status_id] [int] NULL,
	[employee_id] [int] NULL,
 CONSTRAINT [PK_expenses_detail] PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses_review]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses_review](
	[expense_review_id] [int] IDENTITY(1,1) NOT NULL,
	[expense_id] [int] NOT NULL,
	[reviewed_by_id] [int] NOT NULL,
	[review_status_id] [int] NOT NULL,
	[comment] [varchar](400) NULL,
	[timestamp] [datetime] NOT NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_expenses_review] PRIMARY KEY CLUSTERED 
(
	[expense_review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses_type]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses_type](
	[expense_type_id] [int] IDENTITY(1,1) NOT NULL,
	[expence_type_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_expenses_type] PRIMARY KEY CLUSTERED 
(
	[expense_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_allowed_configurations]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_allowed_configurations](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[allowed_player_count] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_game_allowed_configurations] PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_cycles]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_cycles](
	[cycle_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[started_at] [datetime] NOT NULL,
	[ended_at] [datetime] NULL,
 CONSTRAINT [PK_game_cycles] PRIMARY KEY CLUSTERED 
(
	[cycle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_slot_generation_config]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_slot_generation_config](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[generated_days_ahead] [int] NOT NULL,
	[last_genrated_until] [date] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_game_slot_generation_config] PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_slot_templates]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_slot_templates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[day_of_week] [int] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[is_weekend] [bit] NOT NULL,
	[is_night] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_game_slot_templates] PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_game_template] UNIQUE NONCLUSTERED 
(
	[game_id] ASC,
	[day_of_week] ASC,
	[start_time] ASC,
	[end_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_slots]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_slots](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[template_id] [int] NOT NULL,
	[slot_date] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_game_slots] PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_game_slots] UNIQUE NONCLUSTERED 
(
	[template_id] ASC,
	[slot_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_template_date] UNIQUE NONCLUSTERED 
(
	[template_id] ASC,
	[slot_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[game_id] [int] IDENTITY(1,1) NOT NULL,
	[game_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_games] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[job_title] [varchar](100) NULL,
	[job_summary] [varchar](500) NULL,
	[job_description_url] [varchar](250) NULL,
	[job_status] [varchar](255) NULL,
	[posted_by_id] [int] NULL,
	[posted_date] [date] NULL,
 CONSTRAINT [PK_jobs] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[title] [varchar](200) NULL,
	[message] [varchar](500) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_positions] PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_tags]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_tags](
	[post_id] [int] NULL,
	[tag_id] [int] NULL,
 CONSTRAINT [uq_tag_post_id] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[author_id] [int] NOT NULL,
	[post_image_url] [nvarchar](250) NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](300) NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
	[is_deleted] [bit] NOT NULL,
	[is_system_generated] [bit] NULL,
	[deleted_by_id] [int] NULL,
	[visibility] [varchar](20) NOT NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts_likes]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts_likes](
	[post_id] [int] NOT NULL,
	[liked_by_id] [int] NOT NULL,
	[liked_at] [datetime] NOT NULL,
 CONSTRAINT [PK_posts_likes] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[liked_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_posts_likes] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[liked_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[referral_statuses]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[referral_statuses](
	[referral_status_id] [int] IDENTITY(1,1) NOT NULL,
	[referral_status_name] [varchar](100) NULL,
 CONSTRAINT [PK_referral_statuses] PRIMARY KEY CLUSTERED 
(
	[referral_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[referrals]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[referrals](
	[refrral_id] [int] IDENTITY(1,1) NOT NULL,
	[refered_by_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[candidate_name] [varchar](100) NOT NULL,
	[candidate_email] [varchar](200) NOT NULL,
	[cv_url] [varchar](200) NOT NULL,
	[short_note] [varchar](350) NULL,
 CONSTRAINT [PK_referrals] PRIMARY KEY CLUSTERED 
(
	[refrral_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[referred_job_status]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[referred_job_status](
	[referred_job_status_id] [int] IDENTITY(1,1) NOT NULL,
	[referral_id] [int] NOT NULL,
	[referral_reviewed_by] [int] NULL,
	[referral_status_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_referred_job_status] PRIMARY KEY CLUSTERED 
(
	[referred_job_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Table_1] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_details]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_details](
	[travel_id] [int] IDENTITY(1,1) NOT NULL,
	[destination] [varchar](255) NULL,
	[depart_date] [datetime2](7) NULL,
	[return_date] [datetime2](7) NULL,
	[scheduler_id] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_travel_details] PRIMARY KEY CLUSTERED 
(
	[travel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_documents]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_documents](
	[travel_document_id] [int] IDENTITY(1,1) NOT NULL,
	[document_type_id] [int] NOT NULL,
	[document_url] [varchar](500) NOT NULL,
	[uploaded_by_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[uploaded_date] [date] NOT NULL,
	[travel_id] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_travel_documents] PRIMARY KEY CLUSTERED 
(
	[travel_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[travel_employees]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[travel_employees](
	[travel_employee_id] [int] IDENTITY(1,1) NOT NULL,
	[travel_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
 CONSTRAINT [PK_travel_employee] PRIMARY KEY CLUSTERED 
(
	[travel_employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ux_booking_confirmed_slot]    Script Date: 10-03-2026 12:32:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_booking_confirmed_slot] ON [dbo].[booking_master]
(
	[slot_id] ASC
)
WHERE ([status]='confirmed')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments]    Script Date: 10-03-2026 12:32:06 ******/
CREATE NONCLUSTERED INDEX [IX_comments] ON [dbo].[comments]
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_comments_likes]    Script Date: 10-03-2026 12:32:06 ******/
CREATE NONCLUSTERED INDEX [IX_comments_likes] ON [dbo].[comments_likes]
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_posts]    Script Date: 10-03-2026 12:32:06 ******/
CREATE NONCLUSTERED INDEX [IX_posts] ON [dbo].[posts]
(
	[created_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_posts_1]    Script Date: 10-03-2026 12:32:06 ******/
CREATE NONCLUSTERED INDEX [IX_posts_1] ON [dbo].[posts]
(
	[author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_posts_likes]    Script Date: 10-03-2026 12:32:06 ******/
CREATE NONCLUSTERED INDEX [IX_posts_likes] ON [dbo].[posts_likes]
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[booking_master] ADD  CONSTRAINT [DF_booking_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[booking_members] ADD  CONSTRAINT [DF_booking_members_joined_at]  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[booking_queue] ADD  DEFAULT ('WAITING') FOR [status]
GO
ALTER TABLE [dbo].[booking_queue] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[booking_queue_members] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_date_time]  DEFAULT (getdate()) FOR [date_time]
GO
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_comments_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[comments_likes] ADD  CONSTRAINT [DF_comments_likes_liked_at]  DEFAULT (getdate()) FOR [liked_at]
GO
ALTER TABLE [dbo].[cycle_participation] ADD  CONSTRAINT [DF_cycle_participation_has_played]  DEFAULT ((0)) FOR [play_count]
GO
ALTER TABLE [dbo].[employee_penalties] ADD  CONSTRAINT [DF_employee_penalties_late_cancel_count]  DEFAULT ((0)) FOR [late_cancel_count]
GO
ALTER TABLE [dbo].[employees] ADD  CONSTRAINT [DF_employees_emergency_contact]  DEFAULT ((1234567890)) FOR [emergency_contact]
GO
ALTER TABLE [dbo].[expenses_detail] ADD  CONSTRAINT [DF_expenses_detail_upload_date]  DEFAULT (CONVERT([date],getdate())) FOR [upload_date]
GO
ALTER TABLE [dbo].[expenses_detail] ADD  CONSTRAINT [DF_expenses_detail_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[expenses_review] ADD  CONSTRAINT [DF_expenses_review_timestamp]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[expenses_review] ADD  CONSTRAINT [DF_expenses_review_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[game_allowed_configurations] ADD  CONSTRAINT [DF_game_allowed_configurations_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_cycles] ADD  CONSTRAINT [DF_game_cycles_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_cycles] ADD  CONSTRAINT [DF_game_cycles_started_at]  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[game_slot_generation_config] ADD  CONSTRAINT [DF_game_slot_generation_config_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_slot_templates] ADD  CONSTRAINT [DF_game_slot_templates_is_weekend]  DEFAULT ((0)) FOR [is_weekend]
GO
ALTER TABLE [dbo].[game_slot_templates] ADD  CONSTRAINT [DF_game_slot_templates_is_night]  DEFAULT ((0)) FOR [is_night]
GO
ALTER TABLE [dbo].[game_slot_templates] ADD  CONSTRAINT [DF_game_slot_templates_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_slots] ADD  CONSTRAINT [DF_game_slots_status]  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[games] ADD  CONSTRAINT [DF_games_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[jobs] ADD  CONSTRAINT [DF_jobs_posted_date]  DEFAULT (CONVERT([date],getdate())) FOR [posted_date]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT ('ALL') FOR [visibility]
GO
ALTER TABLE [dbo].[posts_likes] ADD  CONSTRAINT [DF_posts_likes_liked_at]  DEFAULT (getdate()) FOR [liked_at]
GO
ALTER TABLE [dbo].[referred_job_status] ADD  CONSTRAINT [DF_referred_job_status_timestamp]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[travel_details] ADD  CONSTRAINT [DF_travel_details_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[travel_documents] ADD  CONSTRAINT [DF_travel_documents_uploaded_date]  DEFAULT (CONVERT([date],getdate())) FOR [uploaded_date]
GO
ALTER TABLE [dbo].[travel_documents] ADD  CONSTRAINT [DF_travel_documents_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[booking_master]  WITH CHECK ADD  CONSTRAINT [FK_booking_master_employees] FOREIGN KEY([leader_emp_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[booking_master] CHECK CONSTRAINT [FK_booking_master_employees]
GO
ALTER TABLE [dbo].[booking_master]  WITH CHECK ADD  CONSTRAINT [FK_booking_master_game_cycles] FOREIGN KEY([cycle_id])
REFERENCES [dbo].[game_cycles] ([cycle_id])
GO
ALTER TABLE [dbo].[booking_master] CHECK CONSTRAINT [FK_booking_master_game_cycles]
GO
ALTER TABLE [dbo].[booking_master]  WITH CHECK ADD  CONSTRAINT [FK_booking_master_game_slots] FOREIGN KEY([slot_id])
REFERENCES [dbo].[game_slots] ([slot_id])
GO
ALTER TABLE [dbo].[booking_master] CHECK CONSTRAINT [FK_booking_master_game_slots]
GO
ALTER TABLE [dbo].[booking_members]  WITH CHECK ADD  CONSTRAINT [FK_booking_members_booking_master] FOREIGN KEY([emp_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[booking_members] CHECK CONSTRAINT [FK_booking_members_booking_master]
GO
ALTER TABLE [dbo].[booking_queue]  WITH CHECK ADD  CONSTRAINT [FK_booking_queue_employees] FOREIGN KEY([leader_emp_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[booking_queue] CHECK CONSTRAINT [FK_booking_queue_employees]
GO
ALTER TABLE [dbo].[booking_queue]  WITH CHECK ADD  CONSTRAINT [FK_booking_queue_game_cycles] FOREIGN KEY([cycle_id])
REFERENCES [dbo].[game_cycles] ([cycle_id])
GO
ALTER TABLE [dbo].[booking_queue] CHECK CONSTRAINT [FK_booking_queue_game_cycles]
GO
ALTER TABLE [dbo].[booking_queue]  WITH CHECK ADD  CONSTRAINT [FK_booking_queue_game_slots] FOREIGN KEY([slot_id])
REFERENCES [dbo].[game_slots] ([slot_id])
GO
ALTER TABLE [dbo].[booking_queue] CHECK CONSTRAINT [FK_booking_queue_game_slots]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_commentor_id_employees] FOREIGN KEY([commentor_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_comments_commentor_id_employees]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_comments_post_id_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_comments_post_id_posts]
GO
ALTER TABLE [dbo].[comments_likes]  WITH CHECK ADD  CONSTRAINT [fk_comments_likes_comment_id_comments] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comments] ([comment_id])
GO
ALTER TABLE [dbo].[comments_likes] CHECK CONSTRAINT [fk_comments_likes_comment_id_comments]
GO
ALTER TABLE [dbo].[comments_likes]  WITH CHECK ADD  CONSTRAINT [fk_comments_likes_liked_by_id_employees] FOREIGN KEY([liked_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[comments_likes] CHECK CONSTRAINT [fk_comments_likes_liked_by_id_employees]
GO
ALTER TABLE [dbo].[employee_penalties]  WITH CHECK ADD  CONSTRAINT [FK_employee_penalties_employees] FOREIGN KEY([emp_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employee_penalties] CHECK CONSTRAINT [FK_employee_penalties_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_departments_dep_id_employees] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_departments_dep_id_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_employees_supervisior_id_mst_employees] FOREIGN KEY([supervisior_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_employees_supervisior_id_mst_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_positions_position_id_employees] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([position_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_positions_position_id_employees]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_roles_role_id_employees] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_roles_role_id_employees]
GO
ALTER TABLE [dbo].[expenses_detail]  WITH CHECK ADD  CONSTRAINT [FK_expenses_detail_expenses_type] FOREIGN KEY([expense_type_id])
REFERENCES [dbo].[expenses_type] ([expense_type_id])
GO
ALTER TABLE [dbo].[expenses_detail] CHECK CONSTRAINT [FK_expenses_detail_expenses_type]
GO
ALTER TABLE [dbo].[expenses_detail]  WITH CHECK ADD  CONSTRAINT [fk_expenses_detail_travel_id_travel_details] FOREIGN KEY([travel_id])
REFERENCES [dbo].[travel_details] ([travel_id])
GO
ALTER TABLE [dbo].[expenses_detail] CHECK CONSTRAINT [fk_expenses_detail_travel_id_travel_details]
GO
ALTER TABLE [dbo].[expenses_review]  WITH CHECK ADD  CONSTRAINT [FK_expenses_review_expenses_detail] FOREIGN KEY([expense_id])
REFERENCES [dbo].[expenses_detail] ([expense_id])
GO
ALTER TABLE [dbo].[expenses_review] CHECK CONSTRAINT [FK_expenses_review_expenses_detail]
GO
ALTER TABLE [dbo].[expenses_review]  WITH CHECK ADD  CONSTRAINT [fk_expenses_review_review_status_id_approval_statuses] FOREIGN KEY([review_status_id])
REFERENCES [dbo].[approval_statuses] ([approval_status_id])
GO
ALTER TABLE [dbo].[expenses_review] CHECK CONSTRAINT [fk_expenses_review_review_status_id_approval_statuses]
GO
ALTER TABLE [dbo].[expenses_review]  WITH CHECK ADD  CONSTRAINT [fk_expenses_review_reviewed_by_id_employees] FOREIGN KEY([reviewed_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[expenses_review] CHECK CONSTRAINT [fk_expenses_review_reviewed_by_id_employees]
GO
ALTER TABLE [dbo].[game_allowed_configurations]  WITH CHECK ADD  CONSTRAINT [FK_game_allowed_configurations_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[game_allowed_configurations] CHECK CONSTRAINT [FK_game_allowed_configurations_games]
GO
ALTER TABLE [dbo].[game_slot_templates]  WITH CHECK ADD  CONSTRAINT [FK_game_slot_templates_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[game_slot_templates] CHECK CONSTRAINT [FK_game_slot_templates_games]
GO
ALTER TABLE [dbo].[game_slots]  WITH CHECK ADD  CONSTRAINT [FK_game_slots_game_slot_templates] FOREIGN KEY([template_id])
REFERENCES [dbo].[game_slot_templates] ([template_id])
GO
ALTER TABLE [dbo].[game_slots] CHECK CONSTRAINT [FK_game_slots_game_slot_templates]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_posted_by] FOREIGN KEY([posted_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_posted_by]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [fk_posts_author_id_employees] FOREIGN KEY([author_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [fk_posts_author_id_employees]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [fk_posts_deleted_by_id_employees] FOREIGN KEY([deleted_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [fk_posts_deleted_by_id_employees]
GO
ALTER TABLE [dbo].[posts_likes]  WITH CHECK ADD  CONSTRAINT [fk_employees_emp_id_posts_likes] FOREIGN KEY([liked_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[posts_likes] CHECK CONSTRAINT [fk_employees_emp_id_posts_likes]
GO
ALTER TABLE [dbo].[posts_likes]  WITH CHECK ADD  CONSTRAINT [fk_posts_likes_post_id_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
GO
ALTER TABLE [dbo].[posts_likes] CHECK CONSTRAINT [fk_posts_likes_post_id_posts]
GO
ALTER TABLE [dbo].[referrals]  WITH CHECK ADD  CONSTRAINT [fk_referrals _refered_by_id_employees] FOREIGN KEY([refered_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[referrals] CHECK CONSTRAINT [fk_referrals _refered_by_id_employees]
GO
ALTER TABLE [dbo].[referrals]  WITH CHECK ADD  CONSTRAINT [fk_referrals_job_id_jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([job_id])
GO
ALTER TABLE [dbo].[referrals] CHECK CONSTRAINT [fk_referrals_job_id_jobs]
GO
ALTER TABLE [dbo].[referred_job_status]  WITH CHECK ADD  CONSTRAINT [fk_referred_job_status_referral_id_referrals] FOREIGN KEY([referral_id])
REFERENCES [dbo].[referrals] ([refrral_id])
GO
ALTER TABLE [dbo].[referred_job_status] CHECK CONSTRAINT [fk_referred_job_status_referral_id_referrals]
GO
ALTER TABLE [dbo].[referred_job_status]  WITH CHECK ADD  CONSTRAINT [FK_referred_job_status_referral_statuses] FOREIGN KEY([referral_status_id])
REFERENCES [dbo].[referral_statuses] ([referral_status_id])
GO
ALTER TABLE [dbo].[referred_job_status] CHECK CONSTRAINT [FK_referred_job_status_referral_statuses]
GO
ALTER TABLE [dbo].[travel_details]  WITH CHECK ADD  CONSTRAINT [fk_travel_details_scheduler_id_employees] FOREIGN KEY([scheduler_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[travel_details] CHECK CONSTRAINT [fk_travel_details_scheduler_id_employees]
GO
ALTER TABLE [dbo].[travel_documents]  WITH CHECK ADD  CONSTRAINT [fk_document_type_dt_id_travel_documents] FOREIGN KEY([document_type_id])
REFERENCES [dbo].[document_types] ([document_type_id])
GO
ALTER TABLE [dbo].[travel_documents] CHECK CONSTRAINT [fk_document_type_dt_id_travel_documents]
GO
ALTER TABLE [dbo].[travel_documents]  WITH CHECK ADD  CONSTRAINT [FK_travel_documents_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[travel_documents] CHECK CONSTRAINT [FK_travel_documents_employees]
GO
ALTER TABLE [dbo].[travel_documents]  WITH CHECK ADD  CONSTRAINT [fk_travel_documents_travel_id_travel_details] FOREIGN KEY([travel_id])
REFERENCES [dbo].[travel_details] ([travel_id])
GO
ALTER TABLE [dbo].[travel_documents] CHECK CONSTRAINT [fk_travel_documents_travel_id_travel_details]
GO
ALTER TABLE [dbo].[travel_documents]  WITH CHECK ADD  CONSTRAINT [fk_travel_documents_uploaded_by_id_employees] FOREIGN KEY([uploaded_by_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[travel_documents] CHECK CONSTRAINT [fk_travel_documents_uploaded_by_id_employees]
GO
ALTER TABLE [dbo].[travel_employees]  WITH CHECK ADD  CONSTRAINT [FK_travel_employee_employees] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[travel_employees] CHECK CONSTRAINT [FK_travel_employee_employees]
GO
ALTER TABLE [dbo].[travel_employees]  WITH CHECK ADD  CONSTRAINT [FK_travel_employee_travel_details] FOREIGN KEY([travel_id])
REFERENCES [dbo].[travel_details] ([travel_id])
GO
ALTER TABLE [dbo].[travel_employees] CHECK CONSTRAINT [FK_travel_employee_travel_details]
GO
ALTER TABLE [dbo].[booking_master]  WITH CHECK ADD  CONSTRAINT [CK_Booking_Status] CHECK  (([status]='WAITING' OR [status]='CANCELED' OR [status]='PREEMPTED' OR [status]='CONFIRMED' OR [status]='COMPLETED'))
GO
ALTER TABLE [dbo].[booking_master] CHECK CONSTRAINT [CK_Booking_Status]
GO
ALTER TABLE [dbo].[game_slots]  WITH CHECK ADD  CONSTRAINT [CK_Game_Slot_Status] CHECK  (([status]='CANCLED' OR [status]='COMPLETED' OR [status]='BOOKED' OR [status]='OPEN' OR [status]='CLOSE'))
GO
ALTER TABLE [dbo].[game_slots] CHECK CONSTRAINT [CK_Game_Slot_Status]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [CK_jobs] CHECK  (([job_status]='OPEN' OR [job_status]='CLOSED'))
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [CK_jobs]
GO
ALTER TABLE [dbo].[travel_details]  WITH CHECK ADD  CONSTRAINT [CHK_departdate_before_returndate] CHECK  (([depart_date]<=[return_date]))
GO
ALTER TABLE [dbo].[travel_details] CHECK CONSTRAINT [CHK_departdate_before_returndate]
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_apply_for_slot]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_apply_for_slot]
    @slot_id INT,
    @leader_emp_id INT,
    @members TeamMemberTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -----------------------------------------------------
        -- slot validate 
        -----------------------------------------------------

        DECLARE @slot_date DATE;
        DECLARE @start_time TIME;
        DECLARE @game_id INT;
        DECLARE @cycle_id INT;
        DECLARE @priority_score INT;
        DECLARE @existing_booking_id INT;
        DECLARE @existing_priority INT;
        DECLARE @queue_id INT;

        SELECT 
            @slot_date = gs.slot_date,
            @start_time = gst.start_time,
            @game_id = g.game_id
        FROM game_slots gs
        JOIN game_slot_templates gst ON gs.template_id = gst.template_id
        JOIN games g ON gst.game_id = g.game_id
        WHERE gs.slot_id = @slot_id;

        IF @slot_date IS NULL
            THROW 50001, 'Invalid slot.', 1;

        -----------------------------------------------------
        -- time validation
        -----------------------------------------------------

        DECLARE @slot_datetime DATETIME;
        DECLARE @minutes_remaining INT;

        SET @slot_datetime =
            CAST(@slot_date AS DATETIME)
            + CAST(@start_time AS DATETIME);

        SET @minutes_remaining =
            DATEDIFF(MINUTE, GETDATE(), @slot_datetime);

        IF @minutes_remaining <= 0
            THROW 50002, 'Game already started.', 1;

        -----------------------------------------------------
        -- leader validation
        -----------------------------------------------------

        IF NOT EXISTS (SELECT 1 FROM @members WHERE emp_id = @leader_emp_id)
            THROW 50003, 'Leader must be part of team.', 1;

        -----------------------------------------------------
        -- duplicate member validation
        -----------------------------------------------------

        IF EXISTS (
            SELECT emp_id
            FROM @members
            GROUP BY emp_id
            HAVING COUNT(*) > 1
        )
            THROW 50004, 'Duplicate members in team.', 1;

        -----------------------------------------------------
        -- team size validate
        -----------------------------------------------------

        DECLARE @team_size INT;

        SELECT @team_size = COUNT(*) FROM @members;

        IF NOT EXISTS (
            SELECT 1
            FROM game_allowed_configurations
            WHERE game_id = @game_id
              AND allowed_player_count = @team_size
              AND is_active = 1
        )
            THROW 50005, 'Invalid team size.', 1;

        -----------------------------------------------------
        -- double booking validation
        -----------------------------------------------------

        IF EXISTS (
            SELECT 1
            FROM booking_master bm
            JOIN booking_members bmem ON bm.booking_id = bmem.booking_id
            JOIN @members m ON bmem.emp_id = m.emp_id
            JOIN game_slots gs2 ON bm.slot_id = gs2.slot_id
            JOIN game_slot_templates gst2 ON gs2.template_id = gst2.template_id
            WHERE bm.status = 'CONFIRMED'
              AND gs2.slot_date = @slot_date
              AND gst2.start_time = @start_time
        )
            THROW 50006, 'One or more players already booked for another slot at this time.', 1;

        -----------------------------------------------------
        -- penalty check
        -----------------------------------------------------

        IF EXISTS (
            SELECT 1
            FROM employee_penalties ep
            JOIN @members m ON ep.emp_id = m.emp_id
            WHERE ep.restricted_until > GETDATE()
        )
            THROW 50007, 'One or more members restricted.', 1;

        -----------------------------------------------------
        -- cycle check
        -----------------------------------------------------

        SELECT @cycle_id = cycle_id
        FROM game_cycles
        WHERE game_id = @game_id
          AND is_active = 1;

        IF @cycle_id IS NULL
        BEGIN
            INSERT INTO game_cycles (game_id, is_active, started_at)
            VALUES (@game_id, 1, GETDATE());

            SET @cycle_id = SCOPE_IDENTITY();
        END

        -----------------------------------------------------
        -- cycle participation
        -----------------------------------------------------

        INSERT INTO cycle_participation
            (cycle_id,game_id,emp_id,play_count)
        SELECT 
            @cycle_id,
            @game_id,
            m.emp_id,
            0
        FROM @members m
        WHERE NOT EXISTS (
            SELECT 1
            FROM cycle_participation cp
            WHERE cp.cycle_id=@cycle_id
              AND cp.emp_id=m.emp_id
        );
        -----------------------------------------------------
        -- priority score calculate
        -----------------------------------------------------

        
        SELECT @priority_score =
            1000 - SUM(ISNULL(cp.play_count,0))
        FROM cycle_participation cp
        JOIN @members m 
            ON cp.emp_id=m.emp_id
        WHERE cp.game_id=@game_id;

        -----------------------------------------------------
        -- slot status check
        -----------------------------------------------------

        SELECT @existing_booking_id = booking_id,
               @existing_priority = priority_score
        FROM booking_master
        WHERE slot_id = @slot_id
          AND status = 'CONFIRMED';

        IF @existing_booking_id IS NULL
        BEGIN
            -------------------------------------------------
            -- confirm booking
            -------------------------------------------------

            INSERT INTO booking_master
                (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
            VALUES
                (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'CONFIRMED', GETDATE());

            DECLARE @new_booking_id INT = SCOPE_IDENTITY();

            INSERT INTO booking_members (booking_id, emp_id)
            SELECT @new_booking_id, emp_id
            FROM @members;

            UPDATE game_slots
            SET status = 'BOOKED'
            WHERE slot_id = @slot_id;
        END
        ELSE
        BEGIN
            -------------------------------------------------
            -- preemption or queue
            -------------------------------------------------

            IF @priority_score > @existing_priority
               AND @minutes_remaining > 10
            BEGIN
                -- mark existing as preempted
                UPDATE booking_master
                SET status = 'PREEMPTED'
                WHERE booking_id = @existing_booking_id;

                --add preempted to queue
                -- move preempted booking to queue
INSERT INTO booking_queue
    (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
SELECT 
    slot_id,
    leader_emp_id,
    cycle_id,
    team_size,
    priority_score,
    'WAITING',
    GETDATE()
FROM booking_master
WHERE booking_id = @existing_booking_id;

SET @queue_id  = SCOPE_IDENTITY();

-- copy members of preempted team into queue members
INSERT INTO booking_queue_members (queue_id, emp_id)
SELECT 
    @queue_id,
    emp_id
FROM booking_members
WHERE booking_id = @existing_booking_id;
                
                --add members to booking queue members
                --INSERT INTO booking_queue_members(queue_id, emp_id)
                --SELECT booking_queue.queue_id,booking_members.emp_id from booking_members
                --join booking_queue
                --on booking_queue.queue_id = booking_members

                --INSERT INTO booking_queue_members (queue_id, emp_id)
                --SELECT booking_queue_members.queue_id, 
                --(SELECT emp_id from booking_queue_members where queue_id = booking_queue_members.queue_id) 
                --FROM booking_queue_members
                

                -- new confirmed booking
                INSERT INTO booking_master
                    (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
                VALUES
                    (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'CONFIRMED', GETDATE());

                DECLARE @new_booking_id2 INT = SCOPE_IDENTITY();

                INSERT INTO booking_members (booking_id, emp_id)
                SELECT @new_booking_id2, emp_id
                FROM @members;
            END
            ELSE
            BEGIN
                -- insert into queue
                INSERT INTO booking_queue
                    (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
                VALUES
                    (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'WAITING', GETDATE());

                SET @queue_id = SCOPE_IDENTITY();

                INSERT INTO booking_queue_members (queue_id, emp_id)
                SELECT @queue_id, emp_id
                FROM @members;

                PRINT 'Team added to Queue as Slot is Booked';
            END
        END

        COMMIT TRANSACTION;
        PRINT 'Application processed successfully.';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_cancel_booking]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_cancel_booking]
    @slot_id INT,
    @cancelled_by_emp_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -----------------------------------------------------
        -- slot + booking validation
        -----------------------------------------------------

        DECLARE @slot_date DATE;
        DECLARE @start_time TIME;
        DECLARE @slot_datetime DATETIME;
        DECLARE @minutes_remaining INT;
        DECLARE @booking_id INT;

        SELECT
            @slot_date = gs.slot_date,
            @start_time = gst.start_time
        FROM game_slots gs
        JOIN game_slot_templates gst ON gs.template_id = gst.template_id
        WHERE gs.slot_id = @slot_id;

        IF @slot_date IS NULL
            THROW 60001, 'Invalid slot.', 1;

        SET @slot_datetime =
            CAST(@slot_date AS DATETIME)
            + CAST(@start_time AS DATETIME);

        SET @minutes_remaining =
            DATEDIFF(MINUTE, GETDATE(), @slot_datetime);

        --IF @minutes_remaining <= 0
        --    THROW 60002, 'Game already started. Cannot cancel.', 1;

        IF @minutes_remaining <= 10
            --THROW 60003, 'Cannot cancel within last 10 minutes.', 1;
            UPDATE employee_penalties 
			SET late_cancel_count = late_cancel_count + 1
			WHERE emp_id = @cancelled_by_emp_id

        -----------------------------------------------------
        -- get confirmed booking
        -----------------------------------------------------

        SELECT @booking_id = booking_id
        FROM booking_master
        WHERE slot_id = @slot_id
          AND status = 'CONFIRMED';

        IF @booking_id IS NULL
            THROW 60004, 'No confirmed booking found for slot.', 1;

        -----------------------------------------------------
        -- cancel booking
        -----------------------------------------------------

        UPDATE booking_master
        SET status = 'CANCELED'
        WHERE booking_id = @booking_id;

        UPDATE game_slots
        SET status = 'OPEN'
        WHERE slot_id = @slot_id;

        -----------------------------------------------------
        -- promote from queue (if any)
        -----------------------------------------------------

        DECLARE @queue_id INT;
        DECLARE @leader_emp_id INT;
        DECLARE @cycle_id INT;
        DECLARE @team_size INT;
        DECLARE @priority_score INT;

        SELECT TOP 1
            @queue_id = queue_id,
            @leader_emp_id = leader_emp_id,
            @cycle_id = cycle_id,
            @team_size = team_size,
            @priority_score = priority_score
        FROM booking_queue
        WHERE slot_id = @slot_id
          AND status = 'WAITING'
        ORDER BY priority_score DESC, created_at ASC;

        IF @queue_id IS NOT NULL
        BEGIN
            -------------------------------------------------
            -- confirm promoted booking
            -------------------------------------------------

            INSERT INTO booking_master
                (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
            VALUES
                (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'CONFIRMED', GETDATE());

            DECLARE @new_booking_id INT = SCOPE_IDENTITY();

            INSERT INTO booking_members (booking_id, emp_id)
            SELECT @new_booking_id, emp_id
            FROM booking_queue_members
            WHERE queue_id = @queue_id;

            UPDATE booking_queue
            SET status = 'CONFIRMED'
            WHERE queue_id = @queue_id;

            UPDATE game_slots
            SET status = 'BOOKED'
            WHERE slot_id = @slot_id;
        END

        COMMIT TRANSACTION;
        PRINT 'Booking cancelled successfully.';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_complete_slot]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_gamemod_complete_slot]
    @slot_id INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -----------------------------------------------------
        -- slot validation
        -----------------------------------------------------

        DECLARE @booking_id INT;
        DECLARE @cycle_id INT;
        DECLARE @game_id INT;

        IF NOT EXISTS (
            SELECT 1
            FROM game_slots
            WHERE slot_id = @slot_id
        )
            THROW 70001, 'Invalid slot.', 1;

        SELECT 
            @booking_id = booking_id,
            @cycle_id = cycle_id
        FROM booking_master
        WHERE slot_id = @slot_id
          AND status = 'CONFIRMED';

        IF @booking_id IS NULL
            THROW 70002, 'No confirmed booking found.', 1;

        -----------------------------------------------------
        -- get game_id
        -----------------------------------------------------

        SELECT @game_id = g.game_id
        FROM game_slots gs
        JOIN game_slot_templates gst 
            ON gs.template_id = gst.template_id
        JOIN games g 
            ON gst.game_id = g.game_id
        WHERE gs.slot_id = @slot_id;

        -----------------------------------------------------
        -- mark slot completed
        -----------------------------------------------------

        UPDATE game_slots
        SET status = 'COMPLETED'
        WHERE slot_id = @slot_id;

        UPDATE booking_master
        SET status = 'COMPLETED'
        WHERE booking_id = @booking_id;

        -----------------------------------------------------
        -- ⭐ FAIRNESS UPDATE (PLAY COUNT)
        -----------------------------------------------------

        UPDATE cp
        SET 
            cp.play_count = cp.play_count + 1
        FROM cycle_participation cp
        JOIN booking_members bm
            ON cp.emp_id = bm.emp_id
        WHERE bm.booking_id = @booking_id
          AND cp.game_id = @game_id;

        -----------------------------------------------------
        -- reject remaining queue entries
        -----------------------------------------------------

        UPDATE booking_queue
        SET status = 'REJECTED'
        WHERE slot_id = @slot_id
          AND status = 'WAITING';

        COMMIT TRANSACTION;

        PRINT 'Slot marked as completed successfully.';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_disable_slot]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_disable_slot] 
	@slot_id INT
AS
BEGIN 
	UPDATE game_slots
	SET status = 'CANCLED'
	WHERE slot_id = @slot_id
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_enable_slot]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_enable_slot] 
	@slot_id INT
AS
BEGIN 
	UPDATE game_slots
	SET status = 'OPEN'
	WHERE slot_id = @slot_id
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_generate_demo_slots]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_generate_demo_slots]
AS
BEGIN

SET NOCOUNT ON;

DECLARE @date DATE;
DECLARE @i INT = 0;

WHILE @i < 7
BEGIN
    SET @date =
        DATEADD(DAY,@i,CAST(GETDATE() AS DATE));

    INSERT INTO game_slots
    (
        template_id,
        slot_date,
        status
    )
    SELECT
        gst.template_id,
        @date,
        'OPEN'
    FROM game_slot_templates gst
    WHERE gst.is_active = 1
      AND gst.day_of_week =
          DATEPART(WEEKDAY,@date)
      AND NOT EXISTS (
            SELECT 1
            FROM game_slots gs
            WHERE gs.template_id =
                  gst.template_id
              AND gs.slot_date = @date
      );

    SET @i=@i+1;
END

PRINT 'Slots generated using existing templates';

END;
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_generate_slots]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_generate_slots]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @today DATE = CAST(GETDATE() AS DATE);

    INSERT INTO game_slots (template_id, slot_date, status)
    SELECT
        t.template_id,
        DATEADD(DAY, v.number, @today),
        'OPEN'
    FROM game_slot_templates t
    JOIN game_slot_generation_config g
        ON g.game_id = t.game_id
    JOIN master..spt_values v
        ON v.type = 'P'
    WHERE
        v.number BETWEEN 0 AND g.generated_days_ahead
        AND DATEPART(WEEKDAY, DATEADD(DAY, v.number, @today)) = t.day_of_week
        AND NOT EXISTS (
            SELECT 1
            FROM game_slots s
            WHERE s.template_id = t.template_id
            AND s.slot_date = DATEADD(DAY, v.number, @today)
        );
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_available_slots]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_gamemod_get_available_slots]
    @game_id INT,
    @emp_id INT  
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        gs.slot_id,
        g.game_name,
        gs.slot_date,
        gst.start_time,
        gst.end_time,
        gs.status,

        e.full_name AS booked_by,

        CASE 
            WHEN EXISTS (
                SELECT 1
                FROM booking_master bm
                JOIN booking_members bmem 
                    ON bm.booking_id = bmem.booking_id
                WHERE bm.slot_id = gs.slot_id
                  AND bmem.emp_id = @emp_id
                  AND bm.status = 'CONFIRMED'
            )
            THEN 1
            ELSE 0
        END AS is_my_slot

    FROM game_slots gs
    JOIN game_slot_templates gst 
        ON gs.template_id = gst.template_id
    JOIN games g 
        ON gst.game_id = g.game_id

    --LEFT JOIN booking_master bm
    --    ON bm.slot_id = gs.slot_id
    --   AND bm.status = 'CONFIRMED'
    LEFT JOIN booking_master bm
    ON bm.slot_id = gs.slot_id
   AND bm.status = 'CONFIRMED'
   AND bm.booking_id = (
        SELECT TOP 1 booking_id
        FROM booking_master
        WHERE slot_id = gs.slot_id
          AND status = 'CONFIRMED'
        ORDER BY created_at DESC
   )

    LEFT JOIN employees e
        ON bm.leader_emp_id = e.employee_id

    WHERE g.game_id = @game_id
      --AND gs.slot_date >= CAST(GETDATE() AS DATE)

    ORDER BY gs.slot_date, gst.start_time;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_booking_by_emp_id]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_gamemod_get_booking_by_emp_id]
    @emp_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -----------------------------------------------------
    -- confirmed & past bookings
    -----------------------------------------------------
    SELECT
        bm.booking_id,
        gs.slot_date,
        gst.start_time,
        bm.status,
        bm.priority_score
    FROM booking_master bm
    JOIN booking_members bmem ON bm.booking_id = bmem.booking_id
    JOIN game_slots gs ON bm.slot_id = gs.slot_id
    JOIN game_slot_templates gst ON gs.template_id = gst.template_id
    WHERE bmem.emp_id = @emp_id
    ORDER BY gs.slot_date DESC;

    -----------------------------------------------------
    -- queue entries
    -----------------------------------------------------
    SELECT
        bq.queue_id,
        gs.slot_date,
        gst.start_time,
        bq.status,
        bq.priority_score
    FROM booking_queue bq
    JOIN booking_queue_members bqm ON bq.queue_id = bqm.queue_id
    JOIN game_slots gs ON bq.slot_id = gs.slot_id
    JOIN game_slot_templates gst ON gs.template_id = gst.template_id
    WHERE bqm.emp_id = @emp_id
      AND bq.status = 'WAITING'
    ORDER BY gs.slot_date;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_games]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_gamemod_get_games]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        game_id,
        game_name
    FROM games
    WHERE is_active = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_queue_position]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_gamemod_get_queue_position]
    @queue_id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        queue_id,
        ROW_NUMBER() OVER (
            ORDER BY priority_score DESC, created_at ASC
        ) AS queue_position
    FROM booking_queue
    WHERE slot_id = (
        SELECT slot_id FROM booking_queue WHERE queue_id = @queue_id
    )
      AND status = 'WAITING';
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_slot_detail]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_gamemod_get_slot_detail]
 @slot_id INT,
 @emp_id INT
AS
BEGIN

SELECT
    g.game_name,
    gs.slot_date,
    gst.start_time,
    gst.end_time,
    gs.status,

    CASE

        -------------------------------------------------
        -- confirmed booking
        -------------------------------------------------

        WHEN EXISTS (
            SELECT 1
            FROM booking_master bm
            JOIN booking_members bmem
                ON bm.booking_id = bmem.booking_id
            WHERE bm.slot_id = @slot_id
              AND bm.status = 'CONFIRMED'
              AND bmem.emp_id = @emp_id
        )
        THEN 'CONFIRMED'

        -------------------------------------------------
        -- preempted booking
        -------------------------------------------------

        WHEN EXISTS (
            SELECT 1
            FROM booking_master bm
            JOIN booking_members bmem
                ON bm.booking_id = bmem.booking_id
            WHERE bm.slot_id = @slot_id
              AND bm.status = 'PREEMPTED'
              AND bmem.emp_id = @emp_id
        )
        THEN 'PREEMPTED'

        -------------------------------------------------
        -- waiting in queue
        -------------------------------------------------

        WHEN EXISTS (
            SELECT 1
            FROM booking_queue q
            JOIN booking_queue_members qm
                ON q.queue_id = qm.queue_id
            WHERE q.slot_id = @slot_id
              AND qm.emp_id = @emp_id
        )
        THEN 'WAITING'

        -------------------------------------------------
        -- not joined
        -------------------------------------------------

        ELSE 'NONE'

    END AS my_status

FROM game_slots gs
JOIN game_slot_templates gst
    ON gs.template_id = gst.template_id
JOIN games g
    ON gst.game_id = g.game_id

WHERE gs.slot_id = @slot_id;

END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_get_slot_details]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[pr_gamemod_get_slot_details]
    @slot_id INT
AS
BEGIN
    SET NOCOUNT ON;

    -----------------------------------------------------
    -- slot info
    -----------------------------------------------------
    SELECT
        gs.slot_id,
        gs.slot_date,
        gst.start_time,
        gst.end_time,
        gs.status
    FROM game_slots gs
    JOIN game_slot_templates gst ON gs.template_id = gst.template_id
    WHERE gs.slot_id = @slot_id;

    -----------------------------------------------------
    -- confirmed booking
    -----------------------------------------------------
    SELECT
        bm.booking_id,
        bm.leader_emp_id,
        bm.priority_score,
        bm.status
    FROM booking_master bm
    WHERE bm.slot_id = @slot_id
      AND bm.status = 'CONFIRMED';

    -----------------------------------------------------
    -- confirmed members
    -----------------------------------------------------
    SELECT
        bmem.emp_id
    FROM booking_members bmem
    JOIN booking_master bm ON bmem.booking_id = bm.booking_id
    WHERE bm.slot_id = @slot_id
      AND bm.status = 'CONFIRMED';

    -----------------------------------------------------
    -- queue list
    -----------------------------------------------------
    SELECT
        queue_id,
        leader_emp_id,
        priority_score,
        status,
        created_at
    FROM booking_queue
    WHERE slot_id = @slot_id
      AND status = 'WAITING'
    ORDER BY priority_score DESC, created_at ASC;
END

GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_slot_apply]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_gamemod_slot_apply]
    @slot_id INT,
    @leader_emp_id INT,
    @members TeamMemberTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -----------------------------------------------------
        -- slot validate
        -----------------------------------------------------

        DECLARE @slot_date DATE;
        DECLARE @start_time TIME;
        DECLARE @game_id INT;
        DECLARE @cycle_id INT;
        DECLARE @priority_score INT;
        DECLARE @existing_booking_id INT;
        DECLARE @existing_priority INT;

        SELECT 
            @slot_date = gs.slot_date,
            @start_time = gst.start_time,
            @game_id = g.game_id
        FROM game_slots gs
        JOIN game_slot_templates gst ON gs.template_id = gst.template_id
        JOIN games g ON gst.game_id = g.game_id
        WHERE gs.slot_id = @slot_id;

        IF @slot_date IS NULL
            THROW 50001, 'Invalid slot.', 1;

        IF CAST(GETDATE() AS DATE) > @slot_date
            THROW 50002, 'Slot already passed.', 1;

        -----------------------------------------------------
        -- team size validate
        -----------------------------------------------------

        DECLARE @team_size INT;
        SELECT @team_size = COUNT(*) FROM @members;

        IF NOT EXISTS (
            SELECT 1
            FROM game_allowed_configurations
            WHERE game_id = @game_id
              AND allowed_player_count = @team_size
              AND is_active = 1
        )
            THROW 50003, 'Invalid team size.', 1;

        -----------------------------------------------------
        -- penalty check
        -----------------------------------------------------

        IF EXISTS (
            SELECT 1
            FROM employee_penalties ep
            JOIN @members m ON ep.emp_id = m.emp_id
            WHERE ep.restricted_until > GETDATE()
        )
            THROW 50004, 'One or more members restricted.', 1;

        -----------------------------------------------------
        -- cycle check make
        -----------------------------------------------------

        SELECT @cycle_id = cycle_id
        FROM game_cycles
        WHERE game_id = @game_id
          AND is_active = 1;

        IF @cycle_id IS NULL
        BEGIN
            INSERT INTO game_cycles (game_id, is_active, started_at)
            VALUES (@game_id, 1, GETDATE());

            SET @cycle_id = SCOPE_IDENTITY();
        END

        -----------------------------------------------------
        -- cycle participaton
        -----------------------------------------------------

        INSERT INTO cycle_participation (cycle_id, game_id, emp_id, has_played)
        SELECT @cycle_id, @game_id, m.emp_id, 0
        FROM @members m
        WHERE NOT EXISTS (
            SELECT 1
            FROM cycle_participation cp
            WHERE cp.cycle_id = @cycle_id
              AND cp.emp_id = m.emp_id
        );

        -----------------------------------------------------
        -- priority score calculate
        -----------------------------------------------------

        SELECT @priority_score = COUNT(*)
        FROM cycle_participation cp
        JOIN @members m ON cp.emp_id = m.emp_id
        WHERE cp.cycle_id = @cycle_id
          AND cp.has_played = 0;

        -----------------------------------------------------
        -- slot status check
        -----------------------------------------------------

        SELECT @existing_booking_id = booking_id,
               @existing_priority = priority_score
        FROM booking_master
        WHERE slot_id = @slot_id
          AND status = 'CONFIRMED';

        IF @existing_booking_id IS NULL
        BEGIN
            -------------------------------------------------
            -- yes-> book
            -------------------------------------------------

            INSERT INTO booking_master
                (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
            VALUES
                (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'CONFIRMED', GETDATE());

            DECLARE @new_booking_id INT = SCOPE_IDENTITY();

            INSERT INTO booking_members (booking_id, emp_id)
            SELECT @new_booking_id, emp_id
            FROM @members;

            UPDATE game_slots
            SET status = 'BOOKED'
            WHERE slot_id = @slot_id;
        END
        ELSE
        BEGIN
            -------------------------------------------------
            -- no-> preemption
            -------------------------------------------------

            IF @priority_score > @existing_priority
            BEGIN
                -- juni booking udado
                UPDATE booking_master
                SET status = 'PREEMPTED'
                WHERE booking_id = @existing_booking_id;

                -- new booking
                INSERT INTO booking_master
                    (slot_id, leader_emp_id, cycle_id, team_size, priority_score, status, created_at)
                VALUES
                    (@slot_id, @leader_emp_id, @cycle_id, @team_size, @priority_score, 'CONFIRMED', GETDATE());

                DECLARE @new_booking_id2 INT = SCOPE_IDENTITY();

                INSERT INTO booking_members (booking_id, emp_id)
                SELECT @new_booking_id2, emp_id
                FROM @members;
            END
            ELSE
            BEGIN
                THROW 50005, 'Lower priority. Booking rejected.', 1;
            END
        END

        COMMIT TRANSACTION;
        PRINT 'Booking successful.';

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pr_gamemod_slot_cancle]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_gamemod_slot_cancle]
	@slot_id INT
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;
		DECLARE @slot_date DATE;
        DECLARE @start_time TIME;
		DECLARE @emp_id INT;

		SELECT 
            @slot_date = gs.slot_date,
            @start_time = gst.start_time
        FROM game_slots gs
        JOIN game_slot_templates gst ON gs.template_id = gst.template_id
        WHERE gs.slot_id = @slot_id;

		IF @start_time < CONVERT(TIME, GETDATE())
		BEGIN
	    --------------------------------------------------
        -- cancel slot 
        -----------------------------------------------------
			UPDATE game_slots
			SET status = 'OPEN'
			WHERE slot_id = @slot_id
		END
		ELSE
		BEGIN
		--------------------------------------------------
        -- add penalty  
        -----------------------------------------------------
			UPDATE employee_penalties 
			SET late_cancel_count = late_cancel_count + 1
			WHERE emp_id = @emp_id
		END

	BEGIN TRY
	BEGIN TRANSACTION;
		
	COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		
	END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[pr_orgmod_get_hierarchy]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pr_orgmod_get_hierarchy]
	@emp_id INT
AS
BEGIN 
	DECLARE @supervisior_id INT;
	DECLARE @employee_id INT;
	SELECT @supervisior_id = supervisior_id, @employee_id = employee_id
	FROM employees
	WHERE employee_id = @emp_id	

	CREATE TABLE #temp(employee_id INT,employee_name VARCHAR(100), supervision_name VARCHAR(100), employee_position VARCHAR(100), supervisior_position VARCHAR(100), employee_pp VARCHAR(500), supervisior_pp VARCHAR(500));
	WHILE @supervisior_id <> @employee_id
	BEGIN
		INSERT INTO #temp 
		SELECT
		employees.employee_id AS empl_id,
		employees.full_name AS employee_name,
			   e.full_name AS supervision_name, 
			   positions.position_name,
			   p.position_name,
			   employees.profile_picture_url AS employee_pp,
			   e.profile_picture_url AS supervisior_pp
		FROM employees
		JOIN employees e
		ON employees.supervisior_id = e.employee_id
		JOIN positions
		ON employees.position_id = positions.position_id
		JOIN positions p
		ON e.position_id = p.position_id
		WHERE employees.employee_id = @employee_id
		PRINT @employee_id;
		PRINT @supervisior_id;
		SET @employee_id = (SELECT supervisior_id FROM employees WHERE employee_id = @employee_id)
		SET @supervisior_id = (SELECT supervisior_id FROM employees WHERE employee_id = @employee_id)
	
	END
	INSERT INTO #temp
    SELECT 
	e.employee_id,
        e.full_name,
        NULL,
        p.position_name,
        NULL,
        e.profile_picture_url,
        NULL
    FROM employees e
    JOIN positions p
        ON e.position_id = p.position_id
    WHERE e.employee_id = @employee_id;

	CREATE TABLE #temp2(employee_id INT,employee_name VARCHAR(100), employee_position VARCHAR(100), employee_pp VARCHAR(500));
	INSERT INTO #temp2
	SELECT employees.employee_id as empl_id, employees.full_name, positions.position_name, employees.profile_picture_url AS employee_pp
	FROM employees
	JOIN positions
	ON employees.position_id = positions.position_id
	WHERE employees.supervisior_id = @emp_id

	
	SELECT * FROM #temp
	SELECT * FROM #temp2
END

GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_delete_expense]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_delete_expense]
	@expense_id INT
AS
BEGIN
	UPDATE expenses_detail
	SET is_deleted = 1
	WHERE expense_id = @expense_id

	UPDATE expenses_review
	SET is_deleted = 1
	WHERE expense_id = @expense_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_delete_travel]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_delete_travel]
	@travel_id INT
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

	UPDATE travel_details
	SET is_deleted = 1
	WHERE travel_id = @travel_id

	UPDATE travel_documents 
	SET is_deleted = 1
	WHERE travel_id = @travel_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_delete_travel_document]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_delete_travel_document]
	@travel_document_id INT
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

	UPDATE travel_documents 
	SET is_deleted = 1
	WHERE travel_document_id = @travel_document_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_edit_expenses]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_travelmod_edit_expenses]
	@expense_id INT,
	@expense_type_id INT = NULL,
	@travel_id INT = NULL,
	@amount DECIMAL(18,0) = NULL,
	@comment VARCHAR(400) = NULL,
	@proof_url VARCHAR(300) = NULL,
	@upload_date DATE = NULL,
	@expense_date DATE = NULL
AS 
BEGIN 
	UPDATE expenses_detail
	SET expense_type_id = COALESCE(@expense_type_id, expense_type_id),
		travel_id = COALESCE(@travel_id, travel_id),
		amount = COALESCE(@amount, amount),
		comment = COALESCE(@comment, comment),
		proof_url = COALESCE(@proof_url, proof_url), 
		upload_date = COALESCE(@upload_date, upload_date), 
		expense_date = COALESCE(@expense_date, expense_date)
	WHERE expense_id = @expense_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_edit_travel]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_edit_travel]
	@travel_id INT,
	@destination VARCHAR(100) = NULL,
	@depart_date DATE = NULL,
	@return_date DATE = NULL,
	@emp_id INT = NULL,
	@scheduler_id INT = NULL
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

	UPDATE travel_details
	SET destination = COALESCE(@destination, destination),
	    depart_date = COALESCE(@depart_date,depart_date), 
		return_date= COALESCE(@return_date,return_date),
		employee_id= COALESCE(@emp_id, employee_id),
		scheduler_id = COALESCE(@scheduler_id, scheduler_id)
	WHERE travel_id = @travel_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_edit_travel_document]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_edit_travel_document]
	@travel_document_id INT,
	@doc_type_id INT = NULL,
	@doc_url VARCHAR(300) = NULL,
	@uploaded_by_id INT =NULL,
	@uploaded_date DATE = NULL,
	@travel_id INT = NULL
AS
BEGIN
	UPDATE travel_documents
	SET document_type_id = COALESCE(@doc_type_id, document_type_id),
		document_url = COALESCE(@doc_url, document_url), 
		uploaded_by_id = COALESCE(@uploaded_by_id, uploaded_by_id), 
		uploaded_date = COALESCE(@uploaded_date, uploaded_date), 
		travel_id = COALESCE(@travel_id, travel_id)
	WHERE travel_document_id = @travel_document_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_gell_all_travel_details]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_gell_all_travel_details]
	@travel_id INT
AS
BEGIN
	SELECT travel_details.travel_id, 
		   employees.full_name, 
		   destination, 
		   depart_date, 
		   return_date, 
		   travel_documents.document_url,
		   uploader.full_name,
		   travel_documents.uploaded_date,
		   positions.position_name
	FROM travel_details
	JOIN employees
	ON travel_details.employee_id = employees.employee_id
	JOIN travel_documents
	ON travel_documents.travel_id = travel_details.travel_id
	JOIN document_types
	ON travel_documents.document_type_id = document_types.document_type_id
	JOIN employees uploader
	ON travel_documents.uploaded_by_id = uploader.employee_id
	JOIN positions
	ON uploader.position_id = positions.position_id
	WHERE travel_details.travel_id = @travel_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_document_types]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_travelmod_get_document_types]
AS
BEGIN
	SELECT document_type_id, document_type__name FROM document_types
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_expense_by_travel_id]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_get_expense_by_travel_id]
	@travel_id INT
AS
BEGIN
	SELECT trv_dtl.travel_id, 
		   emp.full_name,
		   trv_dtl.travel_id,
		   exp_typ.expence_type_name,
		   exp_dt.amount,
		   exp_dt.comment,
		   exp_dt.proof_url,
		   exp_dt.upload_date,
		   exp_dt.expense_date
	FROM travel_details trv_dtl
	JOIN employees emp
	ON trv_dtl.employee_id = emp.employee_id
	JOIN expenses_detail exp_dt
	ON exp_dt.travel_id = trv_dtl.travel_id
	JOIN expenses_type exp_typ
	ON exp_dt.expense_type_id = exp_typ.expense_type_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_expenses_type]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_travelmod_get_expenses_type]
AS
BEGIN
	SELECT expense_type_id, expence_type_name FROM expenses_type
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_travel_details]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_get_travel_details]
AS
BEGIN
	SELECT travel_id, employees.full_name, destination, depart_date, return_date FROM travel_details
	JOIN employees
	ON travel_details.employee_id = employees.employee_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_travel_details_by_travel_id]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pr_travelmod_get_travel_details_by_travel_id]
	@travel_id INT
AS
BEGIN
	SELECT travel_id, employees.full_name, destination, depart_date, return_date FROM travel_details
	JOIN employees
	ON travel_details.employee_id = employees.employee_id
	WHERE travel_id = @travel_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_get_travels_by_employee_id]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_get_travels_by_employee_id]
	@employee_id INT
AS
BEGIN
	SELECT travel_id, employees.full_name, destination, depart_date, return_date FROM travel_details
	JOIN employees
	ON travel_details.employee_id = employees.employee_id
	WHERE employees.employee_id = @employee_id
END;
GO
/****** Object:  StoredProcedure [dbo].[pr_travelmod_insert_travel]    Script Date: 10-03-2026 12:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_travelmod_insert_travel]
	@destination VARCHAR(100),
	@depart_date DATE,
	@return_date DATE,
	@emp_id INT,
	@scheduler_id INT
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

	INSERT INTO travel_details (destination, depart_date, return_date, employee_id, scheduler_id)
	VALUES(@destination, @depart_date, @return_date, @emp_id, @scheduler_id);
END;
GO
USE [master]
GO
